/*!
 * Start Bootstrap - Thumbnail Gallery HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
head {
    text-align: center;
}
.Header {
    height: 80px;
}
.Header2 {
    height: 80px;
}
div.pull-center {
    padding-top: 30px;
    padding-left: 5%;
    width: 800px;
    float: left;
}
div.pull-right {
    padding-top: 15px;
    float: left;
}
.boton {
    text-align: center;
    background-color: #B4EE98;
    border-color: #9d9d9d;
    border-style: solid;
    border-radius: 1em;
    border-width: thin;
    color: black;
}
.boton2 {
    text-align: center;
    background-color: #B4EE98;
    border-color: #9d9d9d;
    border-style: solid;
    border-radius: 1em;
    border-width: thin;
    color: black;
    padding: 10px;
}
body {
    text-align: center;
}
.row {
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

#central {
    text-align: center;
}
div.boxes {
    width: 700px;
    margin: auto;
    text-align: center;
}
#boxquienes {
    float: left;
}
#boxmision {
    float: left;
}
#boxvision {
    float: left;  }


.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

div.nuestros {
    height: 500px;
    width: 1200px;
    margin: auto;
    text-align: center;
}

h3.productores2 {
    padding-top: 10%;
    padding-left: 10%;
    width: 500px;
    text-align: left;
    color: white;
}
#precio {
    padding-top: 5px;
    text-align: left;
}
#precio label, #precio input, #precio div{
    display: inline-block;
}
#precio label {
    color: white;
}
#des {
    position: relative;
}
#filtro {
    background-color: black;
    opacity: 0.2;
    width: 70%;
    min-height: 3em;
    position: absolute;
    z-index: -1;
}
 #precio input {
     width: 50%;
 }
 .botonesFiltrar {
     text-align: center;
     background-color: #B4EE98;
     border-color: #9d9d9d;
     border-style: solid;
     border-radius: 1em;
     border-width: thin;
     color: black;
     padding: 10px;
 }
 .productores {
     background-image: url("http://i.imgur.com/ncCbNcj.jpg");
     background-repeat: no-repeat;
 }

 .navbar-brand {
     color: black;
 }
 .form-group {

 }
 .form-control, .form-control2 {
     width: 40%;
     display: inline-block;
     text-align: left;
 }
 .form-control2 {
     color: black;
 }
 a {
     color: #6f6f6f;
 }
 #ofertas {
     padding-top: 100px;
 }
 #titOfertas {
     color: black;
 }
 .table {
     width: 50%;
 }
 .producto {
     color: white;
 }
 .titprod {

     font-size: 28px;
 }
 .descprod {
     color: black;
 }
