<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/stylesheet.css" rel="stylesheet">
	<link href="/static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />

	<!-- Custom Fonts -->
    <link href="/static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>

    <!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="/web/Productor/pedidos/1">Consultar pedidos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/web/Productor/productos">Crear ofertas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Registrar cultivos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="carousel-inner">
            <!-- Blog Sidebar Widgets Column -->
            <div class="item active">
                <img src="/static/img/4.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="box-item">
                                <img src="/static/img/logo4.png" class="img-circle" width="20" height="20"/>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h5 class="logo">
                                <div class="and">
                                    Pedidos Realizados
                                </div>
                                <br>
                            </h5>
                            <h5 class="logo1">
                                <div class="name1">
                                    <span>Pedidos de la semana del: {{ finicio|date:"SHORT_DATE_FORMAT" }} al {{ ffin|date:"SHORT_DATE_FORMAT" }}</span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
    </header>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-lg-8" align="center">
        <div>
            {% if domingo %}
                <a class="btn btn-default" class="btn btn-primary" href="/aceptarOferta">Aceptar oferta</a>
                <a class="btn btn-default" class="btn btn-primary" href="/rechazarOferta">Rechazar oferta</a>
            {% endif %}
        </div>
        <div>
            <br>
        {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div>{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
            <br>

        <table class="table table-striped table-hover col-lg-offset-3 col-lg-6">
            <thead>
                <tr>
                    <th class="tittleTableCol">Producto</th>
                    <th class="tittleTableCol">Cantidad</th>
                    <th class="tittleTableCol">Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista_pedidos %}
                <tr>
                    <th scope="row">
                        <a href="#/web/Productor/oferta/{{ item.id }}"><img src="{{MEDIA_URL}}{{item.producto.producto.foto.url}}" height="100" width="100" class="img-circle"></a>
                        {{item.producto.producto.nombres}}
                    </th>
                    <td>{{item.cantidad}} ({{ item.producto.producto.unidad.nombre }})</td>
                    <td>${{item.producto.precio}} / ({{ item.producto.producto.unidad.nombre }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="navbar-fixed-bottom" role="navigation" align="center">
          <ul class="pagination">
              {% if lista_pedidos.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/web/Productor/oferta/{{ lista_pedidos.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Ant</span>
              </a>
            </li>
              {% endif %}

              {% for page in lista_pedidos.paginator.page_range %}
                  {% if page == lista_pedidos.number %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ lista_pedidos.number }}<span class="sr-only">(current)</span></a>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="/web/Productor/oferta/{{ page }}">{{ page }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if lista_pedidos.has_next %}
            <li class="page-item">
              <a class="page-link" href="/web/Productor/oferta/{{ lista_pedidos.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sig</span>
              </a>
            </li>
              {% endif %}
          </ul>
        </nav>
        {% endblock %}
    </div>

    </div>
    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>