<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casa Organica</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Bootstrap -->

        <!-- Bootstrap Core CSS -->
        <link href="../../../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="../../../../static/css/style.css" rel="stylesheet">
        <link href="../../../../static/css/stylesheet.css" rel="stylesheet">
        <link href="../../../../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link href="../../../../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    </head>
    <body>
    <!-- /////////////////////////////////////////Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-justified ">
                        <li>
                            <a class="page-scroll" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/web/Productor/pedidos/1">Consultar pedidos</a>
                        </li>
                        <li class="active">
                            <a class="page-scroll" href="/web/Productor/productos">Crear ofertas</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="">Registrar cultivos</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="page-scroll" href="/logout">Cerrar sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <header>
            <div class="carousel-inner">
                <!-- Blog Sidebar Widgets Column -->
                <div class="item active">
                    <img src="../../../../static/img/4.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <div class="col-md-2">
                                <div class="box-item">
                                    <img src="../../../../static/img/logo4.png" class="img-circle" width="20" height="20"/>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <br><br>
                                <h5 class="logo">
                                    <div class="and1">
                                        <span>Nueva oferta</span>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
        </header>
    <div align="center">
        <div class="col-lg-3" align="center">
            <form id="precio" method="post">
                <div id="des" >
                    <div id="filtro"></div>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                </div>
                <div >
                    <button class="botonesFiltrar" type="submit">
                        <b>Filtrar</b>
                    </button>
                    <button class="botonesFiltrar" type="button" onclick="window.location.href='/web/Productor/productos'" >
                         <b>Quitar filtro</b>
                    </button>
                </div>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-8" align="center">
            <nav class="navbar-fixed-bottom" role="navigation" align="center">
                <nav>
                    <ul class="pagination">
                      {% if lista_productos.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ lista_productos.previous_page_number}}" aria-label="Ant">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Ant</span>
                          </a>
                        </li>
                      {% endif %}

                      {% for page in lista_productos.paginator.page_range %}
                        {% if lista_productos.number == page %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if lista_productos.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ lista_productos.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      {% endif %}
                  </ul>
                </nav>
                <span class="current">
                    Página {{ lista_productos.number }} de {{ lista_productos.paginator.num_pages }}.
                </span>
            </nav>
            <br/>
            {% for item in lista_productos %}
            <div class="col-md-1" align="center">
                <div class="box-item">
                    <br>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 well" align="center">
                {{item.nombres}} ${{item.precio}}
                <br>
                <a href="/web/Productor/ofertaproducto/{{ item.pk }}"><img src="{{MEDIA_URL}}{{item.foto.url}}" class="img-circle" style="width:350px;height:150px;" class="img-responsive"></a>
                <br>
                {{item.descripcion}}
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <!-- jQuery -->
    <script src="../../../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../../static/js/bootstrap.min.js.js"></script>
    </body>
</html>