<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<nav class="Header">
    <div class="pull-left" >
        <img src="{% static "img/Logo.jpg" %}" alt="Logo" height="80" width="160">
    </div>
    <div class="pull-center">
        <form >
            <input type="text" name="search" autocomplete="on" size="100">
            <input type="image" src="{% static "img/Lupa.png" %}" height="28" width="28" align="middle">
        </form>
    </div>
    <div class="pull-right">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="boton">
                    <a href="/web/Productor/home">Mi Cuenta</a>
            </li>
            <li class="boton">
                    <a href="/logout">Cerrar sesión</a>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li class="boton">
                    <a href="/login">Iniciar sesión</a>
            </li>
            <li class="boton">
                    <a href="#">Registrarse</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<body class="productores">
    <div id ="ofertas col-lg-offset-3 col-lg-6">
        {% block content %}
            <h1 id="titOfertas">Ofertas para la semana</h1>
            <h1 id="titOfertas">{{ finicio|date:"SHORT_DATE_FORMAT" }} al {{ ffin|date:"SHORT_DATE_FORMAT" }}</h1>
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <table class="table table-striped col-lg-offset-3 col-lg-6">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Precio Final</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista_ofertas %}
                <tr>
                    <th scope="row">
                        <a href="/web/Productor/oferta/{{ item.id }}"><img src="{{MEDIA_URL}}{{item.producto.foto.url}}" height="100" width="100"></a>
                        {{item.producto.nombres}}
                    </th>
                    <td>{{item.cantidad}} ({{ item.producto.unidad.nombre }})</td>
                    <td>${{item.precio}} / ({{ item.producto.unidad.nombre }})</td>
                    <td>${{item.costo_total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="col-lg-offset-3 col-lg-6">
          <ul class="pagination">
              {% if lista_ofertas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/web/Productor/ofertaproductos/{{ lista_ofertas.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Ant</span>
              </a>
            </li>
              {% endif %}

              {% for page in lista_ofertas.paginator.page_range %}
                  {% if page == lista_ofertas.number %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ lista_ofertas.number }}<span class="sr-only">(current)</span></a>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="/web/Productor/ofertaproductos/{{ page }}">{{ page }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if lista_ofertas.has_next %}
            <li class="page-item">
              <a class="page-link" href="/web/Productor/ofertaproductos/{{ lista_ofertas.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sig</span>
              </a>
            </li>
              {% endif %}
          </ul>
        </nav>
        {% endblock %}
    </div>
</body>
</html>