<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casa Organica</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Bootstrap -->

        <!-- Bootstrap Core CSS -->
        <link href="../../../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="../../../../static/css/style.css" rel="stylesheet">
        <link href="../../../../static/css/stylesheet.css" rel="stylesheet">
        <link href="../../../../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link href="../../../../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <script language="JavaScript">
            function confirmCancelar()
            {
                if (confirm('Confirme que desea eliminar esta oferta'))
                {
                    $('#formId').attr('action', '/web/Productor/ofertacancelar/');
                    return true;
                }

                return false;
            }
        </script>
    </head>
    <body>
        <!-- /////////////////////////////////////////Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-justified ">
                        <li>
                            <a class="page-scroll" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/web/Productor/pedidos/1">Consultar pedidos</a>
                        </li>
                        <li class="active">
                            <a class="page-scroll" href="/web/Productor/productos">Crear ofertas</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="">Registrar cultivos</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="page-scroll" href="/logout">Cerrar sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <header>
            <div class="carousel-inner">
                <!-- Blog Sidebar Widgets Column -->
                <div class="item active">
                    <img src="../../../../static/img/4.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <div class="col-md-2">
                                <div class="box-item">
                                    <img src="../../../../static/img/logo4.png" class="img-circle" width="20" height="20"/>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <br><br>
                                <h5 class="logo">
                                    <div class="and1">
                                        <span>{% if oferta != None  %} Modificar {% else %} Crear  {% endif %} oferta de productos</span>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
        </header>
    <div class="col-lg-10" align="center">
        {% block content %}
            <br>
            <h2><b>{{producto.nombres}}</b></h2>

            <div class="col-lg-8" align="center">
                <img src="{{MEDIA_URL}}{{producto.foto.url}}" class="img-thumbnail" height="250" width="250">
                <br/>
                <h6 class ="descprod">{{producto.descripcion}} ${{producto.precio}}</h6>
            </div>
            <div class="col-md-3" align="center">
                <form id="formId" method="post">
                    {% csrf_token %}
                    <h6>Precio:({{ producto.unidad.nombre }})</h6>
                    <input type="number" step="any" min="1" {% if oferta != None  %} value="{{ oferta.precio }}" {% endif %} required="required" name="Precio" placeholder="Precio ({{ producto.unidad.nombre }})"/>
                    <h6>Cantidad:({{ producto.unidad.nombre }})</h6>
                    <input type="number" min="1" {% if oferta != None  %} value="{{ oferta.cantidad }}" {% endif %} required="required" name="Cantidad" placeholder="Cantidad ({{ producto.unidad.nombre }})"/>
                    <br />
                    {% buttons %}
                        <br>
                        <button class="btn btn-default" type="submit" class="btn btn-primary">{% if oferta != None  %} Modificar {% else %} Crear  {% endif %}</button>

                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {% if oferta == None  %}
                            <button class="btn btn-default" type="submit" class="btn btn-primary" formaction="../../home">Cancelar</button>
                        {% endif %}
                        {% if oferta != None  %}
                            <input type="hidden" name="oid" value="{{ oferta.id }}" />
                            <button class="btn btn-default" type="submit" class="btn btn-primary"  onclick="return confirmCancelar()">Eliminar</button>

                        <br><br>
                        <button class="btn btn-default" type="submit" class="btn btn-primary" formaction="../../home">Cancelar</button>
                        {% endif %}
                    {% endbuttons %}
                </form>
            </div>
        {% endblock %}
    </div>
    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>