<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosecha de la Semana</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <nav class="Header2">
        <div class="pull-left" >
            <img src="{% static "img/Logo.jpg" %}" alt="Logo" height="80" width="160">
        </div>
        <div class="pull-center">
            <form>
                <input type="text" name="search" autocomplete="on" size="100">
                <input type="image" src="{% static "img/Lupa.png" %}" height="28" width="28" align="middle">
            </form>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="boton">
                    <a href=".">Mi Cuenta</a>
                </li>
                <li class="boton">
                        <a href="../logout">Cerrar sesión</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="boton">
                        <a href="../login">Iniciar sesión</a>
                </li>
                <li class="boton">
                        <a href="listProducts">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</head>
<body class="productores">
    <div>
        <form id="precio" enctype="multipart/form-data" method="post">
            <div id="des" >
                <div id="filtro"></div>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
            </div>
            <div >
                <button class="botonesFiltrar" type="submit" name="filtrar" value="filtrar">
                    <b>Filtrar</b>
                </button>
                <button class="botonesFiltrar" type="submit" name="clear" value="clear">
                     <b>Quitar filtro</b>
                </button>
                {% if not semana_siguiente %}
                <button class="botonesFiltrar" type="submit" name="semana2" value="semana2">
                     <b>Ver productos de la sig. semana</b>
                </button>
                {% endif %}
                {% if semana_siguiente %}
                <button class="botonesFiltrar" type="submit" name="semana1" value="semana1">
                     <b>Volver a productos de la semana</b>
                </button>
                {% endif %}
            </div>
            {% endbuttons %}
        </form>
    </div>
    <nav class="navbar-fixed-bottom" role="navigation" align="center">
        <nav>
            <ul class="pagination">
              {% if lista_productos.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ lista_productos.previous_page_number}}" aria-label="Ant">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Ant</span>
                  </a>
                </li>
              {% endif %}

              {% for page in lista_productos.paginator.page_range %}
                {% if lista_productos.number == page %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                {% endif %}
              {% endfor %}

              {% if lista_productos.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ lista_productos.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <span class="current">
            Página {{ lista_productos.number }} de {{ lista_productos.paginator.num_pages }}.
        </span>

    </nav>

    <br/>

    {% for item in lista_productos %}

    <div class="col-md-4 col-sm-6 col-lg-3 well" align="center" style="cursor: pointer" data-toggle="modal" data-target="#{{item.pk}}">
        {{item.producto.nombres}}
        <br/><br/>
        <img src="{{PROJECT_ROOT}}{{item.producto.foto.url}}" height="200" width="200">
        <br/><br/>
        {{item.producto.descripcion}}<br/>
        Precio ${{ item.precio }} Cantidad {{ item.cantidad }} {{ item.producto.unidad.nombre }}
    </div>
     <div class="modal fade" id="{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="purchaseLabel">Detalles</h4>
                </div>

                <div class="modal-body" align="center">
                    <div class="lead">
                        <h3>{{item.producto.nombres}}</h3>
                    </div>
                    <div class="lead">
                        <h3>{{item.producto.descripcion}}</h3>
                    </div>
                    <br/>
                    <div style="float: left">
                        <img src="{{PROJECT_ROOT}}{{item.producto.foto.url}}" height="200" width="200">
                    </div>
                    <div  style="margin: 20px">
                        <br/>
                        <h4>Precio ${{ item.precio }}</h4>
                        <h4>Cantidad {{ item.cantidad }} {{ item.producto.unidad.nombre }}</h4>
                        <br/><br/><br/>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js.js" %}"></script>
</body>
</html>