<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Busco Ayuda</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<div class="pull-right">
            <ul class="nav navbar-nav">
                <li class="pull-right">
                        <a href="/web">Home</a>
                </li>

            </ul>
        </div>
</div>
</nav>
<br/><br/><br/>

{% block content %}
<div class="container">
    <div class="col-md-12" align="center">
        <h1 class="page-header" align="center">Registrar Producto</h1>
    </div>

<div class="well bs-component">
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

        {% bootstrap_form form %}

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
    </form>
</div>
</div>
{% endblock %}
</body>
</html>