<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Casa Organica</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Bootstrap -->

        <!-- Bootstrap Core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <link href="/static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link href="/static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </head>
    <!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/web/nuestros">Nuestros productores</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/quienes">¿Quiénes somos?</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/carrito">Comprar</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="/web/Consumidor/edit">Cuenta</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="carousel-inner">
            <!-- Blog Sidebar Widgets Column -->
            <div class="item active">
                <img src="/static/img/4.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="box-item">
                                <img src="/static/img/logo4.png" class="img-circle" width="20" height="20"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <br><br>
                            <h5 class="logo">
                                <div class="and1">
                                    <span>Información Consumidor</span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
    </header>
<body>
        <div class="col-lg-offset-2 col-lg-8">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div>
    <form class="form-horizontal" method="post">
        <br>
        <br>
        {% csrf_token %}
        <fieldset>
        <!-- Text input-->
        <div class="col-md-12" align="center">
            <label class="col-md-2 control-label" for="nombres">Nombres:</label>
            <div class="col-md-10">
                <input id="nombres" name="nombres" type="text" placeholder="Nombres"class="form-control input-md" required="" value="{{ consumidor.nombres }}" >
            </div>
        </div>
        <br><br>
        <!-- Text input-->
        <div class="col-md-12" align="center">
            <label class="col-md-2 control-label" for="apellidos">Apellidos:</label>
            <div class="col-md-10">
                <input id="apellidos" name="apellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="" value="{{ consumidor.apellidos }}">
            </div>
        </div>
        <br><br>
        <!-- Text input-->
        <div class="col-md-12" align="center">
            <label class="col-md-2 control-label" for="correo">Correo:</label>
            <div class="col-md-10">
                <input id="correo" name="correo" type="text" placeholder="Correo" required="" class="form-control input-md" value="{{ consumidor.correo }}">
            </div>
        </div>
        <br><br>
        <!-- Text input-->
        <div class="col-md-12" align="center">
            <label class="col-md-2 control-label" for="ciudad">Ciudad:</label>
            <div class="col-md-10">
                <select name="ciudad" id="ciudad" class="form-control input-md">
                    {% for entry in ciudades %}
                        <option value="{{ entry.id }}" {% if entry.id == consumidor.ciudad.id  %} selected {% endif %}>{{ entry.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br><br>
        <!-- Text input-->
        <div class="col-md-12" align="center">
            <label class="col-md-2 control-label" for="direccion">Direcci&oacute;n:</label>
            <div class="col-md-10">
                <input id="direccion" name="direccion" type="text" placeholder="direcci&oacuten" required="" class="form-control input-md" value="{{ consumidor.direccion }}">
            </div>
        </div>
        <br><br>
        <br><br><br>
        <div class="col-md-12" align="center">
            {% buttons %}
                <button class="btn btn-default" type="submit" class="btn btn-primary" class="btn btn-primary">Modificar</button>
            {% endbuttons %}
        </div>
    </fieldset>
    </form>
        </div>
    </div>
    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>