<!DOCTYPE html>
{% load bootstrap_themes %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_styles theme='flatly' type='min.css' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>
    <!-- Custom CSS -->
    <link href="../static/css/thumbnail1-gallery.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">Casa Organica</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/logout" class="navbar-brand">Cerrar Sesion</a></li>
            {% else %}
            <li><a href="/login" class="navbar-brand">Iniciar Sesion</a></li>
            {% endif %}
        </ul>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div>{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>