<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de compras</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/stylesheet.css" rel="stylesheet">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="../static/css/thumbnail1-gallery.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body class="index-page">

    <!-- /////////////////////////////////////////Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/quienes">¿Quiénes somos?</a>
                    </li>
                     {% endif %}
                    <li>
                        <a class="page-scroll" href="/web/nuestros">Nuestros productores</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="/web/carrito">Comprar</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/registroConsumidor">Registrarse</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/Consumidor/edit">Editar cuenta</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/4.jpg" alt="First slide" height="100">
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h6 class="logo">
                        <div class="and">
                            Carrito de Compras
                        </div>
                    </h6>
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
    <br><br><br><br>

    <form id="carritoForm" method="post">
        {% csrf_token %}
        <table id="example" class="table table-striped table-hover" align="center">
            <thead>
                <tr>
                    <th class="text-center"> </th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Unidad</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center"> </th>
                    <th class="text-center"> </th>
                    <th class="text-center"> </th>
                    <th class="text-center">Total</th>
                    <th class="text-center">${{carrito.total}}</th>
                    <th class="text-center"> </th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in carrito_items.all %}
                    <tr>
                        <td><img src="{{MEDIA_URL}}{{item.producto.producto.foto.url}}" height="50" width="50"></td>
                        <td>{{item.producto.producto.nombres}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.producto.producto.unidad.nombre}}</td>
                        <td>${{item.precio}}</td>
                        <td><button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br/>
        <a class="page-scroll" href="checkout">Pagar</a>
    </form>

    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>

						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>