<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_javascript %}
{% bootstrap_css %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/stylesheet.css" rel="stylesheet">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="../static/css/thumbnail1-gallery.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.listgroup/1.1.2/listgroup.min.js"></script>
</head>
<body class="index-page">

    <!-- /////////////////////////////////////////Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li class="active">
                        <a class="page-scroll" href="home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="web/quienes">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="web/nuestros">Nuestros productores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="web/carrito">Carrito</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="">Registrarse</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/4.jpg" alt="First slide" height="100">
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h6 class="logo">
                        <div class="and">
                            Completa tu compra!
                        </div>
                    </h6>
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
    <br><br><br><br>

    <div class="container">
      <form id="pagoForm" class="form-horizontal" method="post">
          {% csrf_token %}
        <fieldset>
          <legend>Diligencia el siguiente formulario para hacer efectivo tu pago</legend>
            
            <img src="http://www.paymentscardsandmobile.com/wp-content/uploads/2013/10/Visa-MasterCard-American-express.jpeg" height="150" width="150">
            <br/><br/>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Nombre en la Tarjeta</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" required="" name="card-holder-name" id="card-holder-name" placeholder="Nombre en la Tarjeta">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Número de la Tarjeta</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" required="" name="card-number" id="card-number" placeholder="Número de la Tarjeta">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="expiry-month">Fecha de Expiración</label>
            <div class="col-sm-9">

                <div class="col-xs-3">
                  <select class="form-control col-sm-2" required="" name="expiry-month" id="expiry-month">
                    <option>Mes</option>
                    <option value="01">Ene (01)</option>
                    <option value="02">Feb (02)</option>
                    <option value="03">Mar (03)</option>
                    <option value="04">Abr (04)</option>
                    <option value="05">May (05)</option>
                    <option value="06">Jun (06)</option>
                    <option value="07">Jul (07)</option>
                    <option value="08">Ago (08)</option>
                    <option value="09">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dic (12)</option>
                  </select>
                </div>
                <div class="col-xs-3">
                  <select class="form-control" required="" name="expiry-year">
                    <option value="13">2013</option>
                    <option value="14">2014</option>
                    <option value="15">2015</option>
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                  </select>
                </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="cvv">CVV</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" required="" name="cvv" id="cvv" placeholder="Código de Seguridad">
            </div>
          </div>
            <br/>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button align="center" type="button" name="horarioDist" data-toggle="modal" data-target="#distrib">Realizar pago</button>
            </div>
          </div>
        </fieldset>
        <div class="modal fade" id="distrib" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="purchaseLabel">Seleccione el Horario Distribuci&oacute;n</h4>
                    </div>
                    <div class="modal-body" align="center">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="datetimepicker12"></div>
                            </div>
                            <div id="horarioList" class="btn-group-vertical col-sm-5" role="group">
                                <div id="msg" style="display: none"><b>No hay horarios para el dia seleccionado</b></div>
                                <select name="horarioId" required="" id="horarioId" style="display: none">
                                </select>
                            </div>

                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker12').datepicker({
                                language: "es",
                                todayHighlight: true,
                                startDate: new Date()
                            }).on('changeDate', function(e) {

                                var year = e.date.getFullYear();
                                var month = ('0' + (e.date.getMonth() + 1)).slice(-2);
                                var day = ('0' + e.date.getDate()).slice(-2);

                                $.getJSON('/web/rest/horarios/' + year + '/' +  month + '/' + day + '/' , function(result){

                                    $('#horarioId').empty();
                                    if (result.length)
                                    {
                                        $('#msg').hide();
                                        $.each(result, function(i, data){
                                            $('#horarioId').append($('<option>', {
                                                value: data.id,
                                                text: data.horaInicio + ' a ' + data.horaFin
                                            }));
                                        });
                                    }
                                    else
                                    {
                                        $('#msg').show();
                                    }

                                    $(".list-group").remove();
                                    $('#horarioId').removeData();
                                    $('#horarioId').listgroup();
                                });
                            });
                        });



                    </script>
                    </div>
                    <div class="modal-footer">
                        <button align="center" type="submit" name="checkoutButton" value="agregarCarritoButton">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>

    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>

						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>