<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/stylesheet.css" rel="stylesheet">
	<link href="/static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="/static/css/thumbnail1-gallery.css" rel="stylesheet">
	<!-- Custom Fonts -->
    <link href="/static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>

    <!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li class="active">
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/quienes">¿Quiénes somos?</a>
                    </li>
                     {% endif %}
                    <li>
                        <a class="page-scroll" href="/web/nuestros">Productores</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/carrito">Comprar</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li>
                       <a id="id_registro" href="/web/registroConsumidor">Registrarse</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/web/Consumidor/edit">Cuenta</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="carousel-inner">
            <!-- Blog Sidebar Widgets Column -->
            <div class="item active">
                <img src="/static/img/4.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="box-item">
                                <img src="/static/img/logo4.png" class="img-circle" width="20" height="20"/>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h5 class="logo">
                                <div class="and">
                                    Organic Marketplace
                                </div>
                                <br><br>
                                <div class="and">
                                    <h6>¡Haz de nosotros tu estilo de vida!</h6>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
    </header>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-lg-9" align="center">
        <form method="post" id="precio" action="web/index.html">
            <nav class="navbar-fixed-bottom" role="navigation" align="center">
                <nav>
                    <ul class="pagination">
                      {% if lista_productos.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ lista_productos.previous_page_number}}" aria-label="Ant">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Ant</span>
                          </a>
                        </li>
                      {% endif %}

                      {% for page in lista_productos.paginator.page_range %}
                        {% if lista_productos.number == page %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if lista_productos.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ lista_productos.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      {% endif %}
                  </ul>
                </nav>
            </nav>
        </form>
        <br>
        {% for item in lista_productos %}
            <div class="col-md-1" align="center">
                <div class="box-item">
                    <br>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 well" align="center" data-toggle="modal" data-target="#{{item.pk}}">
                {{item.producto.nombres}} ${{item.producto.precio}}
                <br/>
                <img src="{{MEDIA_URL}}{{item.producto.foto.url}}" style="width:200px;height:150px;" class="img-responsive"/>
                <br>
                {{item.producto.descripcion}}
            </div>
            <div class="modal fade" id="{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="purchaseLabel">Detalles</h4>
                    </div>

                    <div class="modal-body" align="center">
                        <div class="lead">
                            <h3>{{item.produto.nombres}}</h3>
                        </div>
                        <div class="lead">
                            <h3>{{item.producto.descripcion}}</h3>
                        </div>
                        <br/>
                        <div style="float: left">
                            <img src="{{MEDIA_URL}}{{item.producto.foto.url}}" height="200" width="200" class="img-responsive">
                        </div>
                        <div  style="margin: 20px">
                            <br/>
                            <h5>Precio: ${{ item.producto.precio }}/{{ item.producto.unidad.nombre }}</h5>
                            <h5>Cantidad disponible: {{ item.cantidad }} {{ item.producto.unidad.nombre }}</h5>
                            <br/><br/><br/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if user.is_authenticated %}
                            <form id="agregarCarritoForm" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="idItemAgregar" value="{{item.pk}}">
                                <h7>Selecciona la cantidad que deseas comprar: </h7>
                                <input name="numeroItemsAgregar" type="number" id="numeroItemsAgregar" style="width:50px;" min="0" step="1" max="{{item.cantidad}}" data-bind="value:numeroItemsAgregar" />
                                <h7> {{ item.producto.unidad.nombre }} </h7>
                                <br/><br/>
                                <button align="center" type="submit" name="agregarCarritoButton" value="agregarCarritoButton">Agregar al Carrito</button>
                            </form>
                        {% endif %}
                        {% if not user.is_authenticated %}
                             <h7>Inicia sesion para comprar este producto!</h7>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
    </div>
    <br/>
    <div class="col-md-3" align="center">
        <div class="well">
            {% if not user.is_authenticated %}
                <h6>Ingresa a nuestra comunidad</h6>
            {% endif %}
            {% if user.is_authenticated %}
                <h5>Bienvenido {{ user.first_name }} {{ user.last_name }}</h5>
                <br>
            {% endif %}

                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <br/>
                                <h7 style="color:red;">{{ message }}</h7>
                            {% endfor %}
                        {% endif %}
                        {% block content %}
                        {% endblock %}
                    </div>
            <div class="row">
                <div class="col-md-3">
                    {% if not user.is_authenticated %}
                        {% block content2 %}
                        <form method="POST" action="web/index">
                            {% csrf_token %}
                            <h7>Usuario:</h7>
                            <input type="text" id="username" required="required" name="username" placeholder="Usuario">
                            <h7>Contraseña:</h7>
                            <input type="password" id="password" required="required"  name="password" placeholder="Contraseña">
                            <div class="form-group">
                                <br>
                                <button align="center" id="idIngresar">Ingresar</button>
                            </div>
                        </form>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>

    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>

						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
