<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/stylesheet.css" rel="stylesheet">
	<link href="/static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="/static/css/thumbnail1-gallery.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="/static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>

    <!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="/web/Administrador/homeAdmin">Home</a>
                    </li>
                    <li  class="active">
                        <a class="page-scroll" href="/web/registroProductor">Registrar productores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Administrar productos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Administrar horarios de distribución</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/logout">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="carousel-inner">
            <!-- Blog Sidebar Widgets Column -->
            <div class="item active">
                <img src="/static/img/4.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <div class="col-md-2">
                            <div class="box-item">
                                <img src="/static/img/logo4.png" class="img-circle" width="20" height="20"/>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h5 class="logo">
                                <div class="and">
                                    Organic Marketplace
                                </div>
                                <br><br>
                                <div class="and">
                                    <h6>¡Haz de nosotros tu estilo de vida!</h6>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
    </header>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-lg-10" align="center">
        <div class="col-lg-offset-2 col-lg-8">
        {% if messages %}
            {% for message in messages %}
               <div {% if message.tags %} class="alert alert-{{ message.tags }}" id = "id_mensaje"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div>
        <form class="form-horizontal" method="post">
                    {% csrf_token %}
            <fieldset>
                <br>

            <!-- Form Name -->
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="nombres">Nombres:</label>
                <div class="col-md-8">
                    <input id="id_nombres" name="nombres" type="text" placeholder="Nombres" class="form-control input-md" required="" value="{{ productor.nombres }}" >
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="apellidos">Apellidos:</label>
                <div class="col-md-8">
                    <input id="id_apellidos" name="apellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="" value="{{ productor.apellidos }}">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="correo">Correo:</label>
                <div class="col-md-8">
                  <input id="id_correo" name="correo" type="text" placeholder="Correo" class="form-control input-md" required="" value="{{ productor.correo }}">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="direccion">Dirección:</label>
              <div class="col-md-8">
                <input id="id_direccion" name="direccion" type="text" placeholder="Dirección" class="form-control input-md" required="" value="{{ productor.direccion }}">
              </div>
            </div>

            <!-- List input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="Ciudad">Ciudad:</label>
              <div class="col-md-8">
                <select id="id_ciudad" name="ciudad" class="form-control" value="{{ productor.ciudad }}">
                   {% for entry in ciudades %}
                        <option value="{{ entry.id }}" {% if entry.id == productor.ciudad.id  %} selected {% endif %}>{{ entry.nombre }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>



            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="usuario">Nombre Usuario:</label>
              <div class="col-md-8">
                <input id="id_usuario" name="usuario" type="text" placeholder="Nombre Usuario" class="form-control input-md" required="" value="{{ productor.usuario }}">
              </div>
            </div>

            <!-- Number input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="usuario">Telefono:</label>
              <div class="col-md-8">
                <input id="id_telefono" name="telefono" type="number" placeholder="Telefono" class="form-control input-md" required="" value="{{ productor.telefono }}">
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="password">Contraseña:</label>
              <div class="col-md-8">
                <input id="id_password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" required="" value="{{ productorForm.password }}">
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="password_confirm">Confirmar Contraseña:</label>
              <div class="col-md-8">
                <input id="id_password_confirm" name="password_confirm" type="password" placeholder="Confirmar Contraseña" class="form-control input-md" required="" value="{{ productorForm.password_confirm }}">
              </div>
            </div>


                {% buttons %}
                      <button id="id_grabar" class="btn btn-default" type="submit" class="btn btn-primary">Registrar</button>
                {% endbuttons %}
            </fieldset>
        </form>
    </div>

   <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
                        <ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>